@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  @apply font-sans;
}

h1 {
  @apply text-white;
  @apply text-8xl;
  @apply font-bold;
}

h2 {
  @apply text-white;
  @apply text-2xl;
  @apply font-chakra
}

.font-chakra {
  font-family: 'Chakra Petch', sans-serif;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-out forwards;
}